@model FinalProjectJames.Models.MontlyPayment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Monthly Payment Calclulator</title>
</head>
<body>
    <h1>Monthly Payment Calculator</h1>
    <form asp-action="Index", method="post">

        <div>
            <label asp-for="LoanAmount">Loan Amount: </label>
            <input asp-for="LoanAmount"/>
        </div>
        <div>
            <label asp-for="InterestRate">Interest Rate: </label>
            <input asp-for="InterestRate"/>
        </div>
        <div>
            <label asp-for="YearsOfLoan">Years of Loan: </label>
            <input asp-for="YearsOfLoan"/>
        </div>
        <div>
            <label>Monthly Payment:</label>
            <input value="@ViewBag.MonthlyPayment.ToString("C2")" readonly/>
        </div>
        <button type="submit">Calculate</button>
        <a asp-action="Index">Clear</a>
    </form>




    @*
    <p>Loan Amount: @ViewBag.loanAmount.ToString("G") </p>
    <p>Interest Rate: @ViewBag.interestRate.ToString("P")  </p>
    <p>Years of Loan: @ViewBag.yearsOfLoan.ToString("G") </p>
    <p>Monthly Payments = @ViewBag.monthlyPayment.ToString("C2")  </p>
    *@
</body>
</html>
